<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:oracle:thin:@172.26.71.52:1521:pis</property>
    <property name="connection.driver_class">oracle.jdbc.OracleDriver</property>
      <property name="current_session_context_class">thread</property>
      <property name="dialect">org.hibernate.dialect.SQLServerDialect</property>
      <property name="show_sql">false</property>
      <property name="hbm2ddl.auto">update</property>
    <property name="connection.username">pis</property>
    <property name="connection.password">liuyitong</property>
    <mapping class="server.hibernateEntities.BuyinEntity"/>
    <mapping resource="BuyinEntity.hbm.xml"/>
    <mapping class="server.hibernateEntities.CoEntity"/>
    <mapping resource="CoEntity.hbm.xml"/>
    <mapping class="server.hibernateEntities.ConsumerEntity"/>
    <mapping resource="ConsumerEntity.hbm.xml"/>
    <mapping class="server.hibernateEntities.CutEntity"/>
    <mapping resource="CutEntity.hbm.xml"/>
    <mapping class="server.hibernateEntities.GiftEntity"/>
    <mapping resource="GiftEntity.hbm.xml"/>
    <mapping class="server.hibernateEntities.GoodsEntity"/>
    <mapping resource="GoodsEntity.hbm.xml"/>
    <mapping class="server.hibernateEntities.GoodskindsEntity"/>
    <mapping resource="GoodskindsEntity.hbm.xml"/>
    <mapping class="server.hibernateEntities.GoodsoutlistEntity"/>
    <mapping resource="GoodsoutlistEntity.hbm.xml"/>
    <mapping resource="LogEntity.hbm.xml"/>
    <mapping class="server.hibernateEntities.LogEntity"/>
    <mapping class="server.hibernateEntities.MoneyEntity"/>
    <mapping resource="MoneyEntity.hbm.xml"/>
    <mapping class="server.hibernateEntities.PackEntity"/>
    <mapping resource="PackEntity.hbm.xml"/>
    <mapping class="server.hibernateEntities.SaleEntity"/>
    <mapping resource="SaleEntity.hbm.xml"/>
    <mapping resource="SelloutEntity.hbm.xml"/>
    <mapping class="server.hibernateEntities.SelloutEntity"/>
    <mapping class="server.hibernateEntities.StockexceptionEntity"/>
    <mapping resource="StockexceptionEntity.hbm.xml"/>
    <mapping class="server.hibernateEntities.UseEntity"/>
    <mapping resource="UseEntity.hbm.xml"/>
    <mapping class="server.hibernateEntities.WarningEntity"/>
    <mapping resource="WarningEntity.hbm.xml"/>
    <mapping resource="MoneylistEntity.hbm.xml"/>
    <mapping class="server.hibernateEntities.MoneylistEntity"/>
    <mapping resource="LogEntity.hbm.xml"/>
    <mapping class="server.hibernateEntities.LogEntity"/>
    <mapping class="server.hibernateEntities.SaleEntity"/>
    <mapping resource="SaleEntity.hbm.xml"/>
      <mapping class="server.hibernateEntities.StockgoodsEntity"/>
      <mapping resource="StockgoodsEntity.hbm.xml"/>
    <mapping class="server.hibernateEntities.AccountInitEntity"/>
    <mapping resource="AccountInitEntity.hbm.xml"/>


    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>