.table-view{
    -fx-control-inner-background:transparent;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-table-cell-background-color:transparent;
    -fx-table-header-background-color:transparent;
    -fx-background-color: transparent;
    -fx-table-column-background-color:transparent;

}

.table-view .column-header{
    -fx-background-color: transparent;
}

.table-view  .column-header .label{
    -fx-font-family: "Arial Black";
    -fx-font-size: 12pt;
    -fx-text-fill: black;
    -fx-alignment: center;
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-fill: black;
    -fx-alignment: center;
}



.table-view:focused   .table-row-cell:filled:focused:selected{
    -fx-background-color: white;
}