<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:oracle:thin:@172.26.101.185:1521:pis</property>
    <property name="connection.driver_class">oracle.jdbc.OracleDriver</property>
      <property name="current_session_context_class">thread</property>
      <property name="dialect">org.hibernate.dialect.SQLServerDialect</property>
      <property name="show_sql">true</property>
      <property name="hbm2ddl.auto">update</property>
    <property name="connection.username">pis</property>
    <property name="connection.password">liuyitong</property>
      <mapping class="server.Dataservice.hibernate.BuyinEntity"/>
    <mapping resource="server/Dataservice/hibernate/BuyinEntity.hbm.xml"/>
    <mapping class="server.Dataservice.hibernate.CoEntity"/>
    <mapping resource="server/Dataservice/hibernate/CoEntity.hbm.xml"/>
    <mapping class="server.Dataservice.hibernate.ConsumerEntity"/>
    <mapping resource="server/Dataservice/hibernate/ConsumerEntity.hbm.xml"/>
    <mapping class="server.Dataservice.hibernate.CutEntity"/>
    <mapping resource="server/Dataservice/hibernate/CutEntity.hbm.xml"/>
    <mapping class="server.Dataservice.hibernate.GiftEntity"/>
    <mapping resource="server/Dataservice/hibernate/GiftEntity.hbm.xml"/>
    <mapping class="server.Dataservice.hibernate.GoodsEntity"/>
    <mapping resource="server/Dataservice/hibernate/GoodsEntity.hbm.xml"/>
    <mapping class="server.Dataservice.hibernate.GoodskindsEntity"/>
    <mapping resource="server/Dataservice/hibernate/GoodskindsEntity.hbm.xml"/>
    <mapping class="server.Dataservice.hibernate.GoodsoutlistEntity"/>
    <mapping resource="server/Dataservice/hibernate/GoodsoutlistEntity.hbm.xml"/>
    <mapping resource="server/Dataservice/hibernate/LogEntity.hbm.xml"/>
    <mapping class="server.Dataservice.hibernate.LogEntity"/>
    <mapping class="server.Dataservice.hibernate.MoneyEntity"/>
    <mapping resource="server/Dataservice/hibernate/MoneyEntity.hbm.xml"/>
    <mapping class="server.Dataservice.hibernate.PackEntity"/>
    <mapping resource="server/Dataservice/hibernate/PackEntity.hbm.xml"/>
    <mapping class="server.Dataservice.hibernate.SaleEntity"/>
    <mapping resource="server/Dataservice/hibernate/SaleEntity.hbm.xml"/>
    <mapping resource="server/Dataservice/hibernate/SelloutEntity.hbm.xml"/>
    <mapping class="server.Dataservice.hibernate.SelloutEntity"/>
    <mapping class="server.Dataservice.hibernate.StockexceptionEntity"/>
    <mapping resource="server/Dataservice/hibernate/StockexceptionEntity.hbm.xml"/>
    <mapping class="server.Dataservice.hibernate.UseEntity"/>
    <mapping resource="server/Dataservice/hibernate/UseEntity.hbm.xml"/>
    <mapping class="server.Dataservice.hibernate.WarningEntity"/>
    <mapping resource="server/Dataservice/hibernate/WarningEntity.hbm.xml"/>
    <mapping resource="server/Dataservice/hibernate/MoneylistEntity.hbm.xml"/>
    <mapping class="server.Dataservice.hibernate.MoneylistEntity"/>
    <mapping resource="server/Dataservice/hibernate/LogEntity.hbm.xml"/>
    <mapping class="server.Dataservice.hibernate.LogEntity"/>
    <mapping class="server.Dataservice.hibernate.SaleEntity"/>
    <mapping resource="server/Dataservice/hibernate/SaleEntity.hbm.xml"/>


    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>